<div class="container-fluid d-flex flex-column align-items-center">
  <img src="../../../../assets/images/man.svg" class="pt-3" alt="">
  <h5 class="display-4 text-center text-dark px-md-auto py-3 border-bottom">Запрещено использовать:</h5>
  <div class="container rules">
    <ol class="rules text-dark">
      <li class="rules-title"><span>Мат</span>
        <ol class="rules-stage">
        <li>Мат и его производные в любом контексте. </li>
        <li>Видоизмененный и завуалированный мат. </li>
        <li>Общеизвестный мат на иностранных языках и его транскрипция. </li>
        <li>Слова, используемые в матерном контексте. </li>
          <li>Сокращение матерных выражений. </li>
          <li>Цитаты писателей, критиков, политиков и прочих лиц, содержащие мат. </li>
      </ol>
      </li>
      <li class="rules-title"><span>Оскорбления</span>
        <ol class="rules-stage">
          <li>Явные оскорбления, их производные, видоизменения и сокращения. </li>
          <li>Сравнения с животными, имеющие оскорбительный подтекст. </li>
          <li>Указание на недоразвитость и ущербность</li>
          <li>Оскорбление национальности, расы, языка, религии. </li>
          <li>Оскорбление действием и смыслом.</li>
          <li>Оскорбительный набор символов. </li>
          <li>Обобщённое оскорбление, направленное на группу лиц, без указания никнейма или имени. </li>
        </ol>
      </li>
      <li class="rules-title"><span>Угрозы</span>
        <ol class="rules-stage">
          <li>Угрозы реальной физической расправы или насилия.  </li>
          <li>Угрозы программного характера.  </li>
        </ol>
      </li>
      <li class="rules-title"><span>Флуд</span>
        <ol class="rules-stage">
          <li>Обычный флуд сообщениями: отправка большого количества однотипных сообщений. </li>
          <li> Сообщения, не несущие смысловой нагрузки для присутствующих в чате. </li>
          <li>Флуд символами: более 7 одинаковых знаков подряд в одном сообщении. </li>
          <li>Сообщения, в которых КАПСОМ набрано более одного слова. </li>
        </ol>
      </li>
    </ol>

  </div>
</div>
