.rules{
  padding: 5px 30px;
  border-radius: 30px;
  font-size: large;
}
img {
  width: 500px;
}
.rules-stage {
  padding-bottom: 8px;
}
.rules-title {
  padding-bottom: 3px;
}
span {
  background-color: #f4b942;
  padding: 3px 8px;
  border-radius: 30px;
}
