<div class="about-header bg-dark pt-md-5 pb-md-4 text-center w-100 mx-md-auto">
  <h1 class="font-weight-normal text-center text-white bg-dark">О нас</h1>
</div>
<div
  class="text-header px-3 py-3 text-center pt-md-3 pb-md-4 w-100 mx-md-auto text-dark font-weight-normal">

  <div class="container" >
    <h5 class="display-4">Кто вы?</h5>

    <div class="about d-flex flex-row">
      <div class="w-50 pb-2">

    <div class="pt-md-1 pb-md-3">
    <img src="../../../assets/oleg2.jpg" alt="oleg" style="border-radius: 45px">
    </div>
    <p class="lead">
      Здарвствуйте, меня зовут Олег. Мне 19 лет.
    </p>
      </div>
      <div class="w-50 pt-5">
    <div class="d-flex flex-column align-items-center d-row justify-content-center">
      <div class="d-flex align-content-between flex-row pb-3">
        <div class="px-md-3">
        <a  href="https://twitter.com/ODrozdovich" class="social p-2 text-dark lead">Twitter</a>
        </div>
        <div class="px-md-3">
        <a href="https://github.com/OlegDO" class="social p-2 text-dark lead">GitHub</a>
        </div>
      </div>

      <a class="social p-2 text-dark lead">mail: drozdovich.oleg1999@gmail.com</a>
    </div>
    </div>
    </div>
    <hr>
    <h6 class="display-4 pt-md-5 pb-md-4">О себе:</h6>
    <p class="lead">
      Я страстный Front-End разработчик, который всегда имщет новые зания в данной сфере. Я сосредоточен на самостоятельном обучении,
      но я понимаю что каждому разработчику, который хочет добиться больших результатов необходим своего рода ментор. Я командный, трудоспособный
      человек, который всегда готов взяться за непростую работу и довести её до конца.
    </p>
    <hr>
    <h6 class="display-4 pt-md-5 pb-md-4">Технические знания:</h6>
    <div class="text-left">
      <ul class="lead">
        <li> Языки разметки:
          <ul>
            <li>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                  HTML
                </div>
              </div>
            </li>
            <li>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                  CSS
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>Языки программирования:
          <ul>
            <li>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
                     aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                  JavaScript
                </div>
              </div>
            </li>
            <li>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                  SQL
                </div>
              </div>
            </li>
          </ul>
        </li>
        <li>Фреймворки:
          <ul>
            <li>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                  Angular
                </div>
              </div>
            </li>
            <li>
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                  Bootstrap
                </div>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <hr>
    <h6 class="display-4 pt-md-5 pb-md-4">Образование и курсы:</h6>
    <div class="text-left">
      <ul class="lead">
        <li>Колледж: Минский Государственный Колледж электроники, 4-ый курс</li>
        <li>Квалификация: Техник-программист</li>
        <li>Специальность: Программное обеспечения информационных технологий</li>
        <li>Курсы: Окончены streamline курсы по английскому - уровень A2</li>
      </ul>
    </div>

  </div>
  </div>



