.social:hover {
  transform: scale(1.3);
}
.social {
  background-color: #f4b942;
  border-radius: 30px;
  padding: 3px 5px;
  display: block;
}
li {
  margin-bottom: 5px;
}
.progress, .progress-bar {
  height: 23px;
  border-radius: 40px;
  font-size: 18px;
}
