.carousel-control-next-icon{
  height: 30px;
  width: 30px;
}
.carousel-control-prev-icon{
  height: 30px;
  width: 30px;
}
.form-control-borderless {
  border: none;
}
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.search-box{
  border-radius: 45px;
}

.btn .btn-lg .btn-warning {
  width: 120px;
  height: 100px;
}
.slider-text {
  background-color: #0066FF;
  border-radius: 40px;
  opacity: 0.9;
  padding: 10px 13px;
}
.card {
  width: 450px;
}
.card-header {
  height: 80px;
}
p .lead {
  text-align: justify;
}
