<!--post header section-->
<div class="course-header bg-dark px-3 py-3 pt-md-5 pb-md-4 text-center w-100 mx-md-auto">
  <h2 class="display-4 text-white">Современные видеокурсы по JavaScript</h2>
  <p class="lead text-white">Привестствуем вас на сайте - itDro.
  </p>
</div>

<!--slider-->
<div class="slider">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner #carousel-inner w-100" style="height: 695px">
      <div class="carousel-item active">
        <img class="d-block" src="assets/first_item.png" alt="Первый слайд">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 60px">Теория</h5>
          <p  class="slider-text" style="font-size: 26px;">Здесь вы получите большой спектр теоретического материала по JavaScript, который
            позволит вам приступить к
            практической реализации несложных программ.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block" src="assets/second_item.png" alt="Второй слайд">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 60px">Практика</h5>
          <p class="slider-text" style="font-size: 26px">В ходе данного курса вы научитесь реализовывать поставленные вам задачи, как
            начинающему Front-End разработчику,
            связанные с написанием и реализацией кода на JavaScript.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img class="d-block" src="assets/third_item.png" alt="Третий слайд">
        <div class="carousel-caption d-none d-md-block">
          <h5 style="font-size: 60px">Время</h5>
          <p class="slider-text" style="font-size: 26px">JavaScript - один из наиболее доступных языков программирования, но чтобы его освоить нужно терпение и время.
          Мы знаем, что у вас это есть - так приступайте!</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Предыдущий</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Следующий</span>
    </a>
  </div>
</div>
<div class="container-fluid d-flex flex-column align-items-center align-content-center  p-5 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h3 class="display-4 text-center">Почему стоит стать именно JavaScript разработчиком?</h3>
</div>
  <div class="container d-flex flex-column align-items-center">
    <!--first card deck section (4 elements)-->
    <div class="container d-flex align-items-center">
      <div class="card-deck mr-md-5 ml-md-5 mb-md-0 mt-md-0 p-md-3">

        <!--box 1-->
        <div class="first-items d-flex flex-row">
        <!--card element 1-->
        <div class="card mb-4 shadow-sm">
          <div class="card-header text-center">
            <h4 class="my-0 font-weight-normal">Высокая заработная плата программиста</h4>
          </div>
          <div class="card-body ">
            <p class="lead">Зарплата программиста стартует от 500$ в месяц и доходит до 3000$ у старших специалистов!</p>
          </div>
        </div>

        <!--card element 2-->
        <div class="card mb-4 shadow-sm">
          <div class="card-header text-center">
            <h4 class="my-0 font-weight-normal">Перспективная профессия</h4>
          </div>
          <div class="card-body ">
            <p class="lead">Рост IT отрасли в мире происходит в геометрической прогрессии, а в Беларуси - пятая по
              объемам экспорта в стране. Это означает, что отрасль будет нуждаться в большом количестве
              квалифицированных специалистов.</p>
          </div>
        </div>
      </div>
<div class="second-items d-flex flex-row">
        <!--card element 3-->
        <div class="card mb-4 shadow-sm">
          <div class="card-header text-center">
            <h4 class="my-0 font-weight-normal">Работа в любой точке мира</h4>
          </div>
          <div class="card-body">
          <p class="lead">Рынок IT – это весь мир. Вы сможете работать в аутсорсинговых компаниях Беларуси, выполняя
            заказы иностранных клиентов. Или же работать во FreeLance из любой точки мира, по удобному для себя графику.</p>
          </div>
        </div>

        <!--card element 4-->
        <div class="card mb-4 shadow-sm">
          <div class="card-header text-center">
            <h4 class="my-0 font-weight-normal">Уникальные условия труда в IT компаниях</h4>
          </div>
          <div class="card-body">
            <p class="lead">Современный офис, комфортное рабочее место, курсы английского, обучение, тренинги,
              компенсация оплаты спортзала медицинское страхование. А так же в офисе всегда есть игровые и комнаты отдыха.</p>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>



