.carousel-control-next-icon{
  height: 30px;
  width: 30px;
}
.carousel-control-prev-icon{
  height: 30px;
  width: 30px;
}
.form-control-borderless {
  border: none;
}
.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.search-box{
  border-radius: 45px;
}

.btn .btn-lg .btn-warning {
  width: 120px;
  height: 100px;
}
.slider-text {
  background-color: #0066FF;
  border-radius: 40px;
  opacity: 0.9;
  padding: 10px 13px;
}
.card {
  width: 450px;
}
.card-header {
  height: 80px;
}
p .lead {
  text-align: justify;
}

@media (max-width: 1199px) {
  .first-items {
    display: flex;
    flex-direction: column !important;
  }
  .second-items{
    display: flex;
    flex-direction: column !important;
  }
  .card-deck {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 767px) {
  .carousel-caption {
    display: block !important;
  }
  .slider-text {
    font-size: 10vw;
  }
}
@media (max-width: 578px) {
  .card {
    width: 90%;
  }
  .slider {
    height: 50%;
  }
  h5 {
    font-size: 7vw !important;
  }
  .slider-text {
    font-size: 4vw !important;
  }
  .first-items, .second-items {
    align-items: center;
  }
}
@media (max-width: 420px) {
  .carousel-inner {
    height: 632px !important;
  }
  .carousel-caption {
    padding-bottom: 100px;
  }
  h4 {
    font-size: 5.5vw;
  }
  .title-main {
    font-size: 13vw;
  }
  .title-q {
    font-size: 13vw;
  }
  .lead {
    font-size: 5.5vw;
  }
}
