.title {
  font-size: 1.6em;
}
.btn-auth {
  border-radius: 45px
}
.user-container {
  background-color: #f4b942;
  width: 10%;
}
.auth {
  font-size: 1.2em;
}
.user-photo {
  width: 40px;
  border-radius: 40px;
  margin: 0 13px 0 0px;
}
.dropdown {
  width: 270px;
  padding: 0 0 0 10px;
  border-left: 2px solid gray;
}
.dropdown-menu {
  width: 239px;
}
.route{
  font-size: 20px;
}
@media (max-width: 768px) {
  .dropdown {
    text-align: center;
    margin-top: 10px;
    width: 270px;
    padding: 0;
    border-left: none;
  }
  .show {
    margin-bottom: 80px;
  }
}
@media (max-width: 390px) {
  .links a{
    font-size: 19px;
  }
}
