<!--header-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal">
    <a class="p-2 text-dark" routerLink="/"><span class="title">itDro</span></a>
  </h5>
  <div class="my-0 my-md-0 mr-md-3">
    <a class="p-2 form-control-lg route" routerLink="/course">Видеокурсы</a>
    <a class="p-2 form-control-lg route" routerLink="/reviews">Отзывы</a>
    <a class="p-2 form-control-lg route" routerLink="/about">О нас</a>
  </div>
  <div class="dropdown show">
    <a class="btn dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

      <!--Authorization block-->
      <span class="auth" *ngIf="authenticated">
        <img class="user-photo" [src]="user.photoURL" alt="">{{ user.displayName }}
      </span>
      <span class="auth" *ngIf="!authenticated">
        <img class="user-photo" src="../assets/images/anonymous.jpg" alt="">{{ default }}
      </span>
    </a>

    <!--Login/Logout block-->
    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <button class="dropdown-item"  (click)="login()" *ngIf="!authenticated">
        <span class="auth">Вход</span>
      </button>
      <!---->
      <button class="dropdown-item"  routerLink="/profile" *ngIf="authenticated">
        <span class="auth">Профиль</span>
      </button>
      <button class="dropdown-item"  (click)="logOut()" *ngIf="authenticated">
        <span class="auth">Выход</span>
      </button>
    </div>
  </div>
</div>


<!--components-->
<router-outlet></router-outlet>

<!--footer-->
<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1 text-dark">© 2019
    <a routerLink="/about" class="text-dark">Oleg Drozdovich</a>
  </p>
  <ul class="list-inline">
    <li class="list-inline-item"><a routerLink="/course">Видеокурсы</a></li>
    <li class="list-inline-item"><a routerLink="/reviews">Отзывы</a></li>
    <li class="list-inline-item"><a routerLink="/about">О нас</a></li>
  </ul>
</footer>
