
<!--header-->
<div class="bg-dark pt-md-5 pb-md-4 text-center w-100 mx-md-auto">
  <h2 class="font-weight-normal text-center text-white bg-dark">Операторы сравнения, условные и логические.</h2>
</div>
<!--video-->
<div class="container video d-flex align-items-center align-content-center flex-column">
  <video class="w-100 mt-md-5"
         src="https://firebasestorage.googleapis.com/v0/b/itdro-6a5c5.appspot.com/o/lesson3.mp4?alt=media&token=7d363dc2-2bb4-450b-80db-44e7222ae52d"
         controls>Видеоурок 6</video>
</div>
<!--tasks-->

<!--<div class="container tasks d-flex flex-column align-content-center align-items-center  pt-md-5 pb-md-4">-->
<!--<div id="accordion" class="w-100">-->

<!--<div class="card">-->
<!--<div class="card-header" id="headingOne">-->
<!--<h5 class="mb-0">-->
<!--<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">-->
<!--Какими способами можно подлкючить js-файл к html шаблону?-->
<!--</button>-->
<!--</h5>-->
<!--</div>-->
<!--<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">-->
<!--<div class="card-body">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="card">-->
<!--<div class="card-header" id="headingTwo">-->
<!--<h5 class="mb-0">-->
<!--<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
<!--Сделайте страницу, которая выводит «Привет, Мир!».-->
<!--</button>-->
<!--</h5>-->
<!--</div>-->
<!--<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">-->
<!--<div class="card-body">-->

<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->
<!--</div>-->

<!--navigation-->
<div class="container d-flex flex-column align-items-center py-3">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" routerLink="/course/lesson5" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Предыдущий</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" routerLink="" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Следующий</span>
      </a>
    </li>
  </ul>
</div>


<!--comments-->
<div class="container d-flex flex-column">
  <!--make a form here-->
  <div class="">
    <textarea class="w-100 p-3 lead" name="" id="" rows="4" placeholder="Ваш комментарий.."></textarea>
    <button class="submit btn btn-outline-warning btn-lg my-3" style="border-radius: 45px">Отправить</button>
  </div>
  <!--comments results-->
  <div class="comments">
  </div>
</div>
