
  <!--header-->
  <div class="bg-dark pt-md-5 pb-md-4 text-center w-100 mx-md-auto">
    <h1 class="font-weight-normal text-center text-white bg-dark">Что такое JavaScript?</h1>
  </div>
  <!--video-->
  <div class="video d-flex align-items-center align-content-center flex-column">
    <video src="">Видеоурок 1</video>
  </div>
  <!--tasks-->

  <div class="container tasks d-flex flex-column align-content-center align-items-center  pt-md-5 pb-md-4">
    <div id="accordion" class="w-100">

      <div class="card">
        <div class="card-header" id="headingOne">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Определение JavaScript.
            </button>
          </h5>
        </div>
        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            JavaScript - это мультипарадигменный язык программирования.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Какие стили поддерживает JavaScript?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            JavaScript поддерживает объектно-ориентированный, императивный и функциональный стили.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Какие основные архитектурные черты содержит JavaScript?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            Динамическая типизация, слабая типизация, автоматическое управление памятью, прототипное программирование
            и т.д.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              JavaScript улучшенная версия Java?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
          <div class="card-body">
            Нет!
          </div>
      </div>
      </div>
    </div>



  <!--comments-->
  <div class="container d-flex flex-column">
    <!--make a form here-->
    <div>
      <textarea class="w-100 p-3 lead" name="" id="" rows="4" placeholder="Ваш комментарий.."></textarea>
      <button class="submit btn btn-outline-warning btn-lg my-3" style="border-radius: 45px">Отправить</button>
    </div>
    <!--comments results-->
    <div class="comments">
    </div>
  </div>
