
  <!--header-->
  <div class="bg-dark pt-md-5 pb-md-4 text-center w-100 mx-md-auto">
    <h1 class="font-weight-normal text-center text-white bg-dark">Что такое JavaScript?</h1>
  </div>
  <!--video-->
  <div class="video d-flex align-items-center align-content-center flex-column">
    <video src="">Видеоурок 1</video>
  </div>
  <!--tasks-->
  <div class="container tasks d-flex flex-column align-content-center align-items-center">
    <div class="card-deck mr-md-5 ml-md-5 mb-md-0 mt-md-0 p-md-3">
      <!--card element 1-->
      <div class="card mb-4 shadow-sm">
        <div class="card-header text-center">
          <h4 class="my-0 font-weight-normal">Задания:</h4>
        </div>
        <div class="card-body">
          <ul class="list-group-item list-unstyled list-group-item-warning px-md-2 my-md-2 text-center">
            <li>1. Что такое JavaScript?</li>
            <li>2. Типизированный ли это язык?</li>
            <li>3. Назовите последнюю спецификацию.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!--comments-->
  <div class="container d-flex flex-column">
    <!--make a form here-->
    <div>
      <textarea class="w-100 p-3 lead" name="" id="" rows="4" placeholder="Ваш комментарий.."></textarea>
      <button class="submit btn btn-outline-warning btn-lg my-3" style="border-radius: 45px">Отправить</button>
    </div>
    <!--comments results-->
    <div class="comments">
    </div>
  </div>
