<!--post header section-->
<div class="course-header bg-dark px-3 py-3 pt-md-5 pb-md-4 text-center w-100 mx-md-auto">
  <h2 class="display-4 text-white">Профиль</h2>
</div>
<div class="container d-flex flex-row pt-3">
  <div class="keep-user-photo">
  <img class="user-photo" [src]=" user.photoURL" alt="">
  </div>
  <div class="user-info flex-column w-100 px-md-4">
    <ul class="list-unstyled lead">
      <li>{{ user.displayName }}</li>
      <hr>
      <li>Ваша почта: {{ user.email }}</li>
    </ul>
  </div>
</div>


