<!--header-->
<div class="bg-dark pt-md-5 pb-md-4 text-center w-100 mx-md-auto">
  <h2 class="font-weight-normal text-center text-white bg-dark">Что такое JavaScript?</h2>
</div>
<!--video-->
<div class="container video d-flex align-items-center align-content-center flex-column">
  <video class="w-100 mt-md-5"
         src="https://firebasestorage.googleapis.com/v0/b/itdro-6a5c5.appspot.com/o/lesson1V2.mp4?alt=media&token=39c2fb20-b52a-475e-af1d-19f1725e9876"
         controls
  >Видеоурок</video>
</div>
<!--tasks-->

<!--<div class="container tasks d-flex flex-column align-content-center align-items-center  pt-md-5 pb-md-4">-->
  <!--<div id="accordion" class="w-100">-->

    <!--<div class="card">-->
      <!--<div class="card-header" id="headingOne">-->
        <!--<h5 class="mb-0">-->
          <!--<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">-->
            <!--Определение JavaScript.-->
          <!--</button>-->
        <!--</h5>-->
      <!--</div>-->
      <!--<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">-->
        <!--<div class="card-body">-->
          <!--JavaScript - это мультипарадигменный язык программирования.-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="card">-->
      <!--<div class="card-header" id="headingTwo">-->
        <!--<h5 class="mb-0">-->
          <!--<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">-->
            <!--Какие стили поддерживает JavaScript?-->
          <!--</button>-->
        <!--</h5>-->
      <!--</div>-->
      <!--<div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">-->
        <!--<div class="card-body">-->
          <!--JavaScript поддерживает объектно-ориентированный, императивный и функциональный стили.-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="card">-->
      <!--<div class="card-header" id="headingThree">-->
        <!--<h5 class="mb-0">-->
          <!--<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">-->
            <!--Какие основные архитектурные черты содержит JavaScript?-->
          <!--</button>-->
        <!--</h5>-->
      <!--</div>-->
      <!--<div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">-->
        <!--<div class="card-body">-->
          <!--Динамическая типизация, слабая типизация, автоматическое управление памятью, прототипное программирование-->
          <!--и т.д.-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="card">-->
      <!--<div class="card-header" id="headingFour">-->
        <!--<h5 class="mb-0">-->
          <!--<button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">-->
            <!--Является ли JavaScript улучшенной версией Java?-->
          <!--</button>-->
        <!--</h5>-->
      <!--</div>-->
      <!--<div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">-->
        <!--<div class="card-body">-->
          <!--Конечно, нет.-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  <!--</div>-->
<!--</div>-->

<!--navigation-->
<div class="container d-flex flex-column align-items-center py-3">
  <ul class="pagination">
    <li class="page-item">
      <a class="page-link" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Предыдущий</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link" routerLink="/course/lesson2" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Следующий</span>
      </a>
    </li>
  </ul>
</div>


<!--comments-->
<div class="container d-flex flex-column">
  <!--make a form here-->
  <div class="">
    <textarea class="w-100 p-3 lead" name="" id="" rows="4" placeholder="Ваш комментарий.."></textarea>
    <button class="submit btn btn-outline-primary btn-lg my-3" style="border-radius: 45px">Отправить</button>
  </div>
  <!--comments results-->
  <div class="comments">
  </div>
</div>
